* {
    margin: 0;
    pading: 0;
    -moz-box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: #EEE;
    font-family: Arial;
    color: #000;
    overflow: hidden;
}

#wrapper {
    margin: 5px 5px 0;
    overflow: hidden;
}

input {
    font-family: Arial;
    margin: 10px 0 10px 10px;
}

input[type=text] {
    width: 450px;
    padding: 5px;
    color: #666;
    font-size: 15px;
    border: 1px solid #6F5C9A;
    border-radius: 3px;
}
input[type=text]:focus {
    border-color: darkviolet;
}

input[type=submit] {
    background: #6F5C9A;
    color: white;
    padding: 6px 3px;
    font-size: 14px;
    /* font-weight: bold; */
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

#result {
    font-size: 15px;
    margin: 10px;
    color: #555;
}

p {
    margin: 10px 5px;
}

#torrentName {
    color: #333;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.torrentLink {
    color: darkviolet;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    border-bottom: 1px solid;
    margin-right: 5px;
}

.fade-in {
    animation: fade-in 1s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}